html{
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  height: 100%;
  padding: 0;
  text-align: center;
  background: linear-gradient(to bottom,#59B4C3, #86A7FC);
}

nav {
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: greenyellow;
}

.message{
  font-size: 25px;
  text-align: center;
  color: yellow;
}
